model_predict_cavity_claw_RouteMeander_eigenmode/data/*
model_predict_cavity_claw_RouteMeander_eigenmode/hyper_tuning/*
model_predict_cavity_claw_RouteMeander_eigenmode/model/*
model_predict_cavity_claw_RouteMeander_eigenmode/keras/*
model_predict_cavity_claw_RouteMeander_eigenmode/scalers/*
model_predict_coupler_NCap_cap_matrix/data/*
model_predict_coupler_NCap_cap_matrix/hyper_tuning/*
model_predict_coupler_NCap_cap_matrix/model/*
model_predict_coupler_NCap_cap_matrix/keras/*
model_predict_coupler_NCap_cap_matrix/scalers/*
model_predict_qubit_TransmonCross_cap_matrix/data/*
model_predict_qubit_TransmonCross_cap_matrix/hyper_tuning/*
model_predict_qubit_TransmonCross_cap_matrix/model/*
model_predict_qubit_TransmonCross_cap_matrix/keras/*
model_predict_qubit_TransmonCross_cap_matrix/scalers/*
.ipynb_checkpoints/
__pycache__/
*.pyc
dist/
model_predict_cavity_claw_RouteMeander_eigenmode/.ipynb_checkpoints/
model_predict_cavity_claw_RouteMeander_eigenmode/__pycache__/
model_predict_cavity_claw_RouteMeander_eigenmode/*.pyc
model_predict_coupler_NCap_cap_matrix/.ipynb_checkpoints/
model_predict_coupler_NCap_cap_matrix/__pycache__/
model_predict_coupler_NCap_cap_matrix/*.pyc
model_predict_qubit_TransmonCross_cap_matrix/.ipynb_checkpoints/
model_predict_qubit_TransmonCross_cap_matrix/__pycache__/
model_predict_qubit_TransmonCross_cap_matrix/*.pyc
.ipynb_checkpoints/
__pycache__/
*.pyc
